/* RESET */
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: none;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* GERAL */
img{
    max-width: 100%;
    height: auto;
    display: block;
}
.desativado{
    display: none;
}
#main-alura-cripto{
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    padding-top: 40px;
    background-color: #E5E5E5;
}

/* Card Crip */
#card-crip{
    width: 69%;
    position: relative;
}

.card-logo #logo{
    position: absolute;
    left: 70px;
    top: 20px;
}

.card-texto-codificar{
    width: 600px;
    margin: auto;
    margin-top: 100px;
}

.card-texto-codificar #codificador{
    width: 100%;
    height: 50vh;
    resize: none;
    background-color: #E5E5E5;
    color: #0A3871;
    font-size: 18px;
    font-weight: normal;
    overflow-y: hidden;
    resize: none;
    white-space: pre-wrap;
}
.card-texto-codificar #codificador::placeholder{
    color: #0A3871;
    font-size: 18px;
    font-weight: normal;
}

.card-funcoes{
    width: 600px;
    margin: auto;
    margin-top: 40px;
}

.card-funcoes h2{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: #495057;
    margin-bottom: 10px;
}

.botoes-criptografia{
    width: 100%;
    display: flex;
    justify-content: center;
}
.botoes-criptografia input[type="button"]{
    width: 280px;
    padding: 20px;
    background-color: #D8DFE8;
    color: #0A3871;
    text-align: center;
    border-radius: 20px;
}
.botoes-criptografia #cript{
    background-color: #0A3871;
    color: #FFF;
    margin-right: 24px;
}
.botoes-criptografia #descript{
    border: 1px solid #0A3871;
}


/* Card Descrip */
#card-descrip{
    width: 29%;
    background-color: #FFF;
    margin-right: 20px;
    margin-bottom: 40px;
    border-radius: 20px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card-descrip h2{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #495057;
    margin-bottom: 16px;
    width: 80%;
}
#card-descrip p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #495057;
    width: 80%;
}

#card-descrip #mensagem-cript{
    width: 85%;
    height: 300px;
    color: #495057;
    font-size: 16px;
    font-weight: normal;
    overflow-y: hidden;
    resize: none;
    white-space: pre-wrap;
}
#card-descrip #copiar{
    width: 85%;
    padding: 14px;
    margin-top: 140px;
    background-color: #FFF;
    color: #0A3871;
    border: 1px solid #0A3871;
    text-align: center;
    border-radius: 20px;
}
#card-descrip #copiar:active{
    color: #017e01;
    border-color: #017e01;
}


/* BREAKPOINTS */

@media screen and (max-width: 1029px){
    /* GERAL */
    #main-alura-cripto{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 20px;
    }

    
    /* Card Crip */
    #card-crip{
        width: 100%;
    }
    .card-logo #logo{
        left: 50px;
    }
    .card-texto-codificar{
        width: 90%;
        margin-top: 100px;
    }
    .card-funcoes{
        width: 90%;
    }
    .botoes-criptografia input[type="button"]{
        width: 100%;
    }


    /* Card Descrip */
    #card-descrip{
        width: 90%;
        margin: 0px;
        padding: 0px;
        margin-top: 60px;
        margin-bottom: 40px;
        align-items: center;
        padding: 10px 0;
    }
    #card-descrip #mensagem-cript{
        width: 500px;
        min-width: 100%;
        height: 220px;
    }
    #card-descrip #copiar{
        width: 100%;
        margin-top: 30px;
    }
}